@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Loto', sans-serif;
}

body.background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #d6d6d6;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    color: #d6d6d6;
}

.background{
    background-color: #3B3B98;
}

.container{
    padding: 1em 1.4em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255,.5);
}

.bg-container{
    background-color: #23235B;
}

.title{
    font-size: 1.75em;
    text-align: center;
    margin: 0.5em 0;
}

.password-container{
    padding: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-password-container{
    background-color: rgba(0, 0, 0, 0.4);
}

.password{
    padding: 0.5em 0.3em;
}

.btn-paste{
    align-self: stretch;
    padding: 0.5em 0.6em;
    font-size: 1.25em;
}

.btn{
    background-color: #3B3B98;
}

.input-container{
    display: flex;
    justify-content: space-between;
}

input[type=number]{
    width: 5em;
}

.btn-paste-big{
    padding: 0.5em;
    font-size: 1rem;
}